.bg-shape
{
    position: absolute;
    padding: 15px;
    overflow: clip;
    width: 100%;
    height: 100%;
    top: 0;
    pointer-events: none;
}
  
.bg-shape:after 
{
    content: '';
    position: absolute;
    width: 500px;
    height: 700px;
    background: #06293d;
    border-radius: 74% 26% 60% 40% / 51% 61% 39% 49%;
    z-index: -1;
    right: 30%;
    top: 0;
}

.btn-cuprins
{
    opacity: .7;
    width: 100%; 
    position: fixed; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #031926;
}


.cuprins-body
{
    position: relative; 
    background-color: #031926;
    padding-left: 10px; 
    overflow-x: hidden;
}

.cuprins-active
{
    color: red !important;
    font-weight: bold !important;
    font-size: 25px !important;
}

.cuprins-inactive
{
    color: blue !important;
    text-decoration: none !important;
    font-size: 15px !important;
}

.cuprins
{
    color: white;
    text-decoration: none;
}

.active-lang-btn
{
    background-color: #1d4498;
}
.btn:hover 
{
    border-color: #285e8e;
    border-width : 1.8px;
    
}
.buton-clasa:hover 
{
    color: #000000;
}
.buton-clasa-invers:hover 
{
    color: #ffffff;
}

 

.login{
    position: absolute;
    right: 3rem;
    top:3rem;
    size : 3px;
}
.font-log {
    font-family: Comic Sans MS;
    color : white;
    font-size : 1.6rem;
}
.font-log:hover 
{
    color: #000000;
}
html {  
    scroll-behavior: smooth;  
}



@media (max-width: 782px) {
    .login{
        position: absolute;
        right: 1.8rem;
        top:1.8rem;
    }
    .font-log {
        font-family: Comic Sans MS;
        color : white;
        font-size : 1.1rem;
    }
    .font-log:hover 
    {
    color: #000000;
    }
}
@media (max-width: 830px) {
    .btn-cuprins
    {
    opacity: .7;
    width: 98%; 
    position: fixed; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #031926;
    }

}
