body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: #031926;;
    flex-direction: column;
    margin: 0;
}

.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}

h1 {
    color: #315c74;
    font-family: Comic Sans MS;
    font-size:3.2rem;
}
h3 {
    font-family: Comic Sans MS;
    font-size:1.7rem;
}
.fontt
{
    font-family: Comic Sans MS;
    font-size:1.4rem;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}
input::placeholder {
    font-family: Comic Sans MS;
}


input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #315c74;
    border-radius: 5px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #315c74;;
    width: 100%;
    font-size: 16px;
}
.submit {
    font-family: Comic Sans MS;
    font-size:1.3rem;
}
.not {
    font-family: Comic Sans MS;
    font-size:1.2rem;
}
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-shape:after 
{
    content: '';
    position: absolute;
    width: 500px;
    height: 700px;
    background: #06293d;
    border-radius: 74% 26% 60% 40% / 51% 61% 39% 49%;
    z-index: -1;
    right: 30%;
    top: 0;
}

.login{
    position: absolute;
    right: 3rem;
    top:3rem;
    size : 3px;
}
.font-log {
    font-family: Comic Sans MS;
    color : white;
    font-size : 1.6rem;
}

@media (max-width: 782px) {
    .login{
        position: absolute;
        right: 1.8rem;
        top:1.8rem;
    }
    .font-log {
        font-family: Comic Sans MS;
        color : white;
        font-size : 1.1rem;
    }
}